/* Teams.css */

.teams-container {
    margin-top: 20px;
    width: 100%;
}

.team-card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.team-card img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination {
    margin: 0;
}

.team-card {
    transition: transform 0.3s;
}

.team-card:hover {
    transform: scale(1.05);
}

.card-body {
    background-color: #f0f0f0;
    border: none;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    /* Yazıları kalın yap */
}